{% if carousel %}
    {% set slides = carousel.slides.visible() %}
{% else %}
    {% set slides = [] %}
{% endif %}

{% if slides|length %}
<div class="owl-carousel one" data-arrows-visible="{{ carousel.is_arrows_visible }}">
    {% for slide in slides %}
        {% set link = slide.get_link_url() %}
        {% set translated_image = slide.get_translated_field("image") %}
        {% set cropped_slide = translated_image|thumbnail(size=(carousel.image_width, carousel.image_height), crop="smart", upscale=True) %}
        {% set caption_text = slide.get_translated_field("caption_text") or "" %}
            <img src="{{ cropped_slide }}" alt="{{ caption_text }}">
        {% if link %}</a>{% endif %}
    {% endfor %}
</div>
{% endif %}